<div class="head-box">
  <div class="container">
    <h1>API USAGE DOCUMENT</h1>
    <h3>http://limitless-beyond-2542.herokuapp.com/api/</h3>
  </div>
</div>
<div class="container" id="main">
<pre>
<span style="color:#333399;"><strong>Basic Authentication:</strong>
    username: quangrau
    password: 123456

<strong>Content Type :</strong>
   application/xml or application/json

<strong>Body:</strong>
   You can pass xml or json data in Body</span>
<span style="color:#333399;">   
   sample json body

    {
     "name" : "product name", 
     "categories_id" : "1", 
     "price" : "1000000"</span>
<span style="color:#333399;">    }

   Sample xml body

    &lt;product&gt;
      &lt;name&gt;"product name"&lt;/name&gt;
      &lt;categories_id&gt;1&lt;/categories_id&gt;
      &lt;price&gt;1000000&lt;/price&gt;
    &lt;/product&gt;
<span style="color:#ff0000;"><strong>
NOTE : Content Type should be set to application/xml for xml data in body 
and to application/json for json data in body</strong></span>

<strong>API Requests:</strong>

<strong>=&gt; listing categories</strong>
   url: http://limitless-beyond-2542.herokuapp.com/api/categories
   method: GET
   body : not needed

<strong>=&gt; Retrieving category detail</strong>
  url: http://limitless-beyond-2542.herokuapp.com/api/categories/:id 
  method: GET
  body : not needed

<strong>=&gt; creating category</strong>
   url: http://limitless-beyond-2542.herokuapp.com/api/categories
   method: Post
   Body : It can be xml or json

<strong>=&gt; Updating category</strong>
  url: http://limitless-beyond-2542.herokuapp.com/api/categories/:id 
  method: PUT
  Body : It can be xml or json
<strong>
=&gt; Deleting category</strong> 
  url: http://limitless-beyond-2542.herokuapp.com/api/categories/:id 
  method: DELETE
  body : not needed

<strong>=&gt; listing products</strong>
   url: http://limitless-beyond-2542.herokuapp.com/api/products
   method: GET
   body : not needed

<strong>=&gt; Retrieving product detail</strong>
  url: http://limitless-beyond-2542.herokuapp.com/api/products/:id 
  method: GET
  body : not needed

<strong>=&gt; creating product</strong>
   url: http://limitless-beyond-2542.herokuapp.com/api/products
   method: Post
   Body : It can be xml or json

<strong>=&gt; Updating product</strong>
  url: http://limitless-beyond-2542.herokuapp.com/api/products/:id 
  method: PUT
  Body : It can be xml or json
  <strong>
=&gt; Deleting product</strong> 
  url: http://limitless-beyond-2542.herokuapp.com/api/products/:id 
  method: DELETE
  body : not needed</span>
  </pre>
</div>