<div class="head-box">
  <div class="container">
    <h1>Welcome</h1>
    <h3>Hi bro! this is my first app on Ruby on Rails. <br>
    Just take a look and give me your feedback, cheers!</h3>
  </div>
</div>
<div class="container" id="main">

</div>