<!DOCTYPE html>
<html>
<head>
  <title>RubyStore | Just a tiny app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/admin/category" class="navbar-brand">RubyStore</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav pull-right">
          <li>
            <a tabindex="-1" href="/admin/category"><i class="glyphicon glyphicon-th"></i> Categories</a>
          </li>
          <li>
            <a tabindex="-1" href="/admin/products"><i class="glyphicon glyphicon-th-list"></i> Products</a>
          </li>
          <li>
            <a tabindex="-1" href="/admin/users"> <i class="glyphicon glyphicon-user"></i> Users</a>
          </li>
          <li>
            <a href="/pages/doc"><i class="glyphicon glyphicon-book"></i> API Document</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <%= yield %>

</body>
</html>
